#file-post-extension-form style='display: none;'
  s3-extension-post-form ng-show="$ctrl.ename == 'S3'" ename='$ctrl.ename' get-form-data-promise="$ctrl.getFormDataPromise" set-form-data-promise="$ctrl.setFormDataPromise"