.input-group
  span.input-group-addon Select columns with S3 Documents
  select#linked_columns.form-control ng-model="$ctrl.extension_post_settings.selected_columns" multiple="true" ng-options="column for column in $ctrl.extension_post_settings.columns"
button.btn.btn-success.btn-lg.space-top type='button' ng-click="set_extension_attributes()" Save
