// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-container{
  overflow: auto;
}

/*.step-number{
  font-size: 12vh;
}

.step-number-selected{
  font-weight: bold;
}*/

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.strech-vertical{
  height: 100%;
}

.strech-horizontal{
  width: 100%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.stick-to-top{
  position: absolute; 
  top: 0; 
}

.limit-height{
  height: 70%;
  height: 70vh;
  overflow: auto;
}

.fixed-width{
  width: 10vw;
}