// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-container{
  overflow: auto;
}

/*.step-number{
  font-size: 12vh;
}

.step-number-selected{
  font-weight: bold;
}*/

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.strech-vertical{
  height: 100%;
}

.strech-horizontal{
  width: 100%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.vertical-center-no-height{
  display: flex;
  align-items: center;
}

.stick-to-top{
  position: absolute; 
  top: 0; 
}

.limit-height{
  height: 55vh;
  overflow: auto;
}

.fixed-width{
  width: 13vw;
}

.fixed-height{
  height: 50vh;
}

.transparent-cloak{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
  opacity: 0.0;
}

.link-cursor{
  cursor: pointer;
}

.without-border{
  border:0px solid transparent;
}

.logo {
  position: absolute;
  top: 0px; 
  left: 0px; 
  width: 15vw; 
  height: 15vh; 
  margin-top: 2vh;
  margin-left: 2vw;
  
  img{
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
  }
}

.session-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 2vh;
  margin-right: 5vh;
  z-index: 15;
}

.navigation {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  height: 5vh;
  margin-top: 2vh;
}

.navigation * {
  display: inline;
  margin-left: 1vw;
  margin-right: 1vw;
}

.back-btn::after {
    content: " Back";
}

.next-btn::before {
    content: "Next ï‚©";
}

.file-table-margins {
  margin-left: 2vw;
  margin-right: 2vw;
}

.top-menu-margin {
  margin-top: 15vh;
}